/* MIT LICENSE */

/* IMPORTS */

@import url(colors.css);
@import url(media.css);

/* ELEMENTS */

body,
html {
	background: white;
	overflow-x: hidden;
	margin: 0px;
}
h1,
h2,
h3,
h4,
h5,
h6,
a,
a:link,
a:visited,
button {
	font-family: 'Montserrat', Verdana, Arial, Helvetica, sans-serif;
	font-weight: 900;
	color: var(--wave-dark-blue);
	line-height: 1.3;
}
p,
li,
tr,
th,
td {
	font-family: 'Montserrat', Verdana, Arial, Helvetica, sans-serif;
	font-weight: 600;
	line-height: 180%;
	color: var(--wave-dark-blue);
}
input,
select,
textarea,
label {
	font-family: 'Montserrat', Verdana, Arial, Helvetica, sans-serif !important;
	font-weight: 700 !important;
	color: var(--wave-dark-blue);
}
input {
	-webkit-appearance: none;
}
a,
button,
select {
	cursor: pointer;
}
a,
button {
	letter-spacing: 0.7px;
	text-transform: uppercase;
}
p > a {
	letter-spacing: normal;
}

/* GENERAL */

.animate {
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
}
.preload * {
	transition: none !important;
	-webkit-transition: none !important;
	-moz-transition: none !important;
	-ms-transition: none !important;
	-o-transition: none !important;
}
.left-align {
	text-align: left;
}
.center-align {
	text-align: center;
}
.right-align {
	text-align: right;
}
input:focus {
	outline: none;
	border: none;
}
button:focus {
	outline: none;
	text-transform: uppercase;
}
.hide-element {
	display: none;
}

/* BUTTONS */

.dark-blue-cta {
	border-radius: 4px;
	font-size: 12px !important;
	white-space: nowrap;
	opacity: 1;
	padding: 20px 24px 16px 24px;
	display: inline-block;
}
.dark-blue-cta.solid {
	background-color: var(--wave-dark-blue);
	border: 2px solid var(--wave-dark-blue);
	color: white;
}
.dark-blue-cta.solid.transparent {
	color: var(--wave-yellow-gradient-bottom);
}
.dark-blue-cta.solid.lighter-blue-transparent {
	color: var(--wave-lighter-blue);
}
.dark-blue-cta.solid.light-blue-transparent {
	color: var(--wave-light-blue);
}
.dark-blue-cta.solid.blue-transparent {
	color: var(--wave-blue);
}
.dark-blue-cta.outline {
	background-color: transparent;
	border: 2px solid var(--wave-dark-blue);
	color: var(--wave-dark-blue);
}
.dark-blue-cta:hover,
.dark-blue-cta:active,
.dark-blue-cta:disabled {
	opacity: 0.85;
	text-decoration: none !important;
}
.share-page-button {
	margin-top: 35px;
	padding: 6px 47px 15px 40px;
}

/* FLOATING ACTIONS BUTTONS */

.leave-page-fab {
	width: 71px;
	height: 71px;
	border-radius: 4px;
	background-color: var(--wave-dark-blue);
	text-align: center;
	padding: 4px 6px 0px 6px;
	position: fixed;
	bottom: 20px;
	right: 20px;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.14);
	opacity: 1;
	cursor: pointer;
	z-index: 99;
}
.leave-page-fab:hover {
	opacity: 0.9;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.24);
}
.leave-page-fab h3 {
	text-transform: uppercase;
	font-size: 0.65rem;
	color: white;
	opacity: 1;
	letter-spacing: 0.7px;
}
.leave-page-fab img {
	width: 28px;
	height: 28px;
	opacity: 1;
}
.leave-page-fab.script-enabled {
	display: none;
}
.resources-fab {
	width: auto;
	height: auto;
	padding: 12px 11px 0px 11px;
}
.leave-fab {
	margin-bottom: 42px;
}

/* INPUTS */

textarea {
	font-size: 1.05em;
	line-height: 1.6;
	color: var(--wave-darker-blue);
	display: block;
	height: 67px;
	padding: 24px 24px 20px 24px;
	border-color: white;
	outline: 0;
	transition: all 0.2s ease-in-out;
	border-radius: 4px;
	border: none;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	text-align: left;
	margin: 0px;
}
textarea:focus,
textarea:active {
	background-color: white;
	outline: 0;
	border: none;
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.08);
}
textarea.share-page-text {
	height: 400px;
	resize: vertical;
	position: relative;
}
textarea.hope-text {
	height: 300px;
	resize: vertical;
	position: relative;
}
textarea.message-text {
	height: 200px;
	resize: vertical;
	position: relative;
}
.basic-input input {
	font-size: 1.05em;
	line-height: 1;
	color: var(--wave-darker-blue);
	display: block;
	height: 67px;
	padding: 24px 24px 20px 24px;
	border-color: white;
	outline: 0;
	transition: all 0.2s ease-in-out;
	border-radius: 4px;
	border: none;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	text-align: left;
	margin: 0px;
	position: relative;
}
.basic-input input:focus,
.basic-input input:active {
	background-color: white;
	outline: 0;
	border: none;
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.08);
}
.full-width-input input {
	width: 100%;
}
.smart-fields-section ::-webkit-input-placeholder {
	/* WebKit, Blink, Edge */
	color: var(--wave-placeholder-text) !important;
}
.smart-fields-section :-moz-placeholder {
	/* Mozilla Firefox 4 to 18 */
	color: var(--wave-placeholder-text) !important;
	opacity: 1;
}
.smart-fields-section ::-moz-placeholder {
	/* Mozilla Firefox 19+ */
	color: var(--wave-placeholder-text) !important;
	opacity: 1;
}
.smart-fields-section :-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: var(--wave-placeholder-text) !important;
}
.smart-fields-section fieldset {
	padding: 0;
	border: 0;
	position: relative;
	margin: 15px auto 0px;
}
.smart-fields-section fieldset .input-label {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.smart-fields-section input,
.smart-fields-section textarea,
.smart-fields-section select {
	font-size: 1.15em;
	line-height: 1;
	color: var(--wave-darker-blue);
	display: block;
	height: 67px;
	padding: 25px 16px 20px 16px;
	border-color: white;
	outline: 0;
	transition: all 0.2s ease-in-out;
	border-radius: 4px;
	border: none;
	box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.14);
	text-align: left;
	padding-left: 18px !important;
	padding-right: 18px !important;
	margin: 0px;
}
.smart-fields-section textarea {
	padding-top: 32px !important;
}
.smart-fields-section select {
	margin: 0px;
	-moz-appearance: none;
	-webkit-appearance: none;
	background: url('../img/icons/filter-arrow.png');
	background-size: 16px 16px;
	background-repeat: no-repeat;
	background-position-x: 96%;
	background-position-y: center;
	cursor: pointer;
	background-color: white;
}
.smart-fields-section select::-ms-expand {
	display: none;
}
.smart-fields-section select:required:invalid {
	color: #c3c3c3;
	outline: 0;
}
.smart-fields-section input:focus,
.smart-fields-section input:active,
.smart-fields-section textarea:focus,
.smart-fields-section textarea:active,
.smart-fields-section select:focus,
.smart-fields-section select:active {
	background-color: white;
	outline: 0;
	border: none;
}
.smart-fields-section input[data-empty='false'],
.smart-fields-section input:valid,
.smart-fields-section input:focus,
.smart-fields-section input:disabled,
.smart-fields-section textarea[data-empty='false'],
.smart-fields-section textarea:valid,
.smart-fields-section textarea:focus,
.smart-fields-section textarea:disabled {
	outline: 0;
	padding: 25px 16px 10px;
	border: none;
}
.smart-fields-section input:focus,
.smart-fields-section textarea:focus {
	box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.14);
}
.smart-fields-section input[data-empty='false'] + label,
.smart-fields-section input:valid + label,
.smart-fields-section input:focus + label,
.smart-fields-section input:disabled + label,
.smart-fields-section textarea[data-empty='false'] + label,
.smart-fields-section textarea:valid + label,
.smart-fields-section textarea:focus + label,
.smart-fields-section textarea:disabled + label {
	font-weight: 900 !important;
	font-size: 11.5px;
	left: 0;
	right: 0;
	margin: auto;
	transform: translate3d(0, -8px, 0);
	-webkit-transform: translate3d(0, -8px, 0);
}
.smart-fields-section input:disabled {
	background-color: white;
}
.smart-fields-section label {
	position: absolute;
	font-weight: 700;
	top: 16px;
	color: var(--wave-placeholder-text);
	transform: translate3d(0, 0, 0);
	-webkit-transform: translate3d(0, 0, 0);
	transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	cursor: text;
	font-size: 1.15em;
	left: 0;
	right: 0;
	margin: auto;
	text-align: left;
	padding-left: 18px;
}
.form-action-holder {
	height: 57px;
	margin: 25px auto 0px;
	text-align: center;
}
.form-action-holder button {
	width: 80%;
}
.filter-container select {
	font-family: 'Montserrat', Verdana, Arial, Helvetica, sans-serif !important;
	font-weight: 900 !important;
	font-size: 1rem;
	line-height: 1;
	color: var(--wave-dark-blue);
	display: inline-block;
	height: 50px;
	padding: 8px 30px 5px 14px;
	border: 2px solid var(--wave-dark-blue);
	outline: 0;
	box-shadow: none;
	border-radius: 5px;
	text-align: left;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	background: url('../img/icons/dark-filter-arrow.png');
	background-size: 16px 16px;
	background-repeat: no-repeat;
	background-position-x: 96%;
	background-position-y: center;
	cursor: pointer;
	background-color: transparent;
}
.filter-container select::-ms-expand {
	display: none;
}
.filter-container select:required:invalid {
	color: var(--wave-dark-blue);
	outline: 0;
}
.filter-container select:focus,
.filter-container select:active {
	background-color: transparent;
	outline: 0;
	box-shadow: none;
}

/* CONTENT */

.yellow-gradient-bg-section {
	background: rgb(243, 211, 168);
	background: -moz-linear-gradient(135deg, rgba(243, 211, 168, 1) 0%, rgba(246, 234, 188, 1) 100%);
	background: -webkit-linear-gradient(135deg, rgba(243, 211, 168, 1) 0%, rgba(246, 234, 188, 1) 100%);
	background: linear-gradient(135deg, rgba(243, 211, 168, 1) 0%, rgba(246, 234, 188, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f3d3a8",endColorstr="#f6eabc",GradientType=1);
	position: relative;
}
.darker-blue-bg-section {
	background-color: var(--wave-darker-blue);
	position: relative;
}
.dark-blue-bg-section {
	background-color: var(--wave-dark-blue);
	position: relative;
}
.blue-bg-section {
	background-color: var(--wave-blue);
	position: relative;
}
.light-blue-bg-section {
	background-color: var(--wave-light-blue);
	position: relative;
}
.lighter-blue-bg-section {
	background-color: var(--wave-lighter-blue);
	position: relative;
}
.transparent-bg-section {
	background-color: transparent;
}
.white-bg-section {
	background-color: var(--wave-white);
}
.right-arrow {
	background-image: url('../img/icons/arrow-right.png');
	background-size: contain;
	background-repeat: no-repeat;
	height: 24px;
	width: 24px;
	display: inline-block;
	position: relative;
	top: 8px;
	left: 7px;
}
.right-arrow.dark {
	background-image: url('../img/icons/arrow-right-dark.png');
}
.right-arrow.white {
	background-image: url('../img/icons/arrow-right-light.png');
}
.left-arrow {
	background-image: url('../img/icons/arrow-left.png');
	background-size: contain;
	background-repeat: no-repeat;
	height: 24px;
	width: 24px;
	display: inline-block;
	position: relative;
	top: 8px;
}
.share-arrow {
	background-image: url('../img/icons/arrow-right-gradient-bottom.png');
}
.right-arrow-holder {
	float: right;
	margin: 0px 6px 0px 0px !important;
}
.header-button-holder {
	margin-top: 10px;
}
.header-button-holder a {
	margin-top: 10px;
	margin-left: 6px;
	margin-right: 6px;
}
.oval-section-container {
	position: relative;
}
.oval-footer-section-divider {
	width: 120%;
	height: 5vw;
	border-radius: 50%;
	background-color: white;
	margin-top: -1.2vw;
	margin-left: -10%;
	position: absolute;
	z-index: 0;
	overflow: hidden !important;
}
.oval-footer-section-divider.light-blue {
	background-color: var(--wave-light-blue);
}
.oval-footer-section-divider.blue {
	background-color: var(--wave-blue);
}
.oval-footer-section-divider.dark-blue {
	background-color: var(--wave-dark-blue);
}

/* STORIES CONTENT */

.stories-content h1 {
	font-size: 2.1rem;
}
.stories-content-padding {
	padding-top: 50px;
	padding-bottom: 120px;
}
.stories-container {
	min-height: 500px;
	margin: 36px -0.75rem 0px;
}
.messages-content h1 {
	display: inline-block;
}
.messages-content h2 {
	font-size: 1.6rem;
}
.messages-content span {
	margin-right: 10px;
	display: inline-block;
	margin-bottom: 12px;
}
.messages-content .url-holder {
	padding: 12px 17px 9px 17px;
	color: var(--wave-yellow-gradient-button);
	background-color: var(--wave-dark-blue);
	border-radius: 4px;
	margin-right: 0px;
	display: inline;
}
.messages-content .instruction-holder {
	margin-top: 3px;
	float: right;
}
.messages-content .title-float-container {
	display: inline-block;
	width: 100%;
}
.grid-item {
	margin-bottom: 1.5rem;
	z-index: 0;
}
.grid-item.reactions-margin {
	margin-top: 10px;
}
.hide-stories .grid-item.reactions-margin {
	margin-top: 0px;
}
.column {
	padding: 0rem 0.75rem;
}
.story-card,
.message-card {
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.12);
	border-radius: 6px;
	text-align: left;
	position: relative;
	background-color: white;
}
.story-card.no-padding {
	padding-bottom: 0px;
}
.story-card-inner {
	position: relative;
}
.full-story-card {
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.12);
	border-radius: 6px;
	text-align: left;
	position: relative;
	background-color: white;
	z-index: 7;
}
.full-story-card .card-inner {
	overflow: hidden;
}
.grounding-container {
	z-index: 1;
}
.grounding-container.overlay {
	z-index: 10;
}
.story-card h2,
.grounding-card h2 {
	font-size: 1.5rem;
}
.story-card p {
	line-height: 1.6;
	margin: 12px 0px 0px;
}
.message-card p {
	margin: 0px;
	font-size: 1.3rem;
	line-height: 1.6;
}
.grounding-card p {
	font-size: 1.1rem;
}
.grounding-card .large-spacing {
	margin-top: 18px;
}
.grounding-card button {
	margin-top: 28px;
	width: 100%;
	padding: 16px 24px 12px 24px;
	white-space: normal;
}
.grounding-card button.secondary-button {
	font-family: 'Montserrat', Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-transform: none;
	padding: 0px;
	margin-top: 18px;
	letter-spacing: normal;
	font-size: 0.9rem;
}
.grounding-card button.secondary-button:hover {
	opacity: 0.8;
}
.story-card span,
.story-container h1,
.story-container h2,
.story-container h3,
.story-container h4,
.story-container p {
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}
.hide-stories .story-card span {
	color: transparent;
	background-color: var(--wave-skeleton-grey);
	-moz-border-bottom-left-radius: 2px;
	-webkit-border-bottom-left-radius: 2px;
	border-bottom-left-radius: 2px;
	-moz-border-bottom-right-radius: 2px;
	-webkit-border-bottom-right-radius: 2px;
	border-bottom-right-radius: 2px;
	-moz-border-top-right-radius: 2px;
	-webkit-border-top-right-radius: 2px;
	border-top-right-radius: 2px;
	-moz-border-top-left-radius: 2px;
	-webkit-border-top-left-radius: 2px;
	border-top-left-radius: 2px;
	-webkit-box-decoration-break: clone;
	-o-box-decoration-break: clone;
	box-decoration-break: clone;
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}
.hide-stories .story-card h2 span {
	box-shadow: 0px -2px 0px 0px var(--wave-skeleton-grey);
}
.hide-stories span.obfuscate {
	display: none;
}
span.obfuscate {
	display: unset;
	color: var(--wave-obfuscation-grey);
	background-color: var(--wave-obfuscation-grey);
	border-radius: 2px;
	-webkit-box-decoration-break: clone;
	-o-box-decoration-break: clone;
	box-decoration-break: clone;
}
.story-container span.obfuscate {
	color: var(--wave-obfuscation-blue);
	background-color: var(--wave-obfuscation-blue);
}
.story-container .full-story-card span.obfuscate {
	color: var(--wave-obfuscation-grey);
	background-color: var(--wave-obfuscation-grey);
}
.warning-message {
	background-color: var(--wave-light-orange);
	padding: 5px 9px 5px 9px;
	border-radius: 2px;
	margin-top: 12px;
}
.warning-message p {
	color: var(--wave-dark-orange);
	margin: 0px;
	font-size: 0.85rem;
}
.partner-community-message {
	background-color: var(--wave-light-grey);
	padding: 5px 8px 5px 8px;
	border-radius: 4px;
	margin-bottom: 15px;
	display: inline-block;
}
.partner-community-message.hide-element {
	display: none;
}
.partner-community-message.full-story {
	margin-bottom: 25px;
}
.partner-community-message p,
.partner-community-message a,
.partner-community-message a:link,
.partner-community-message a:visited,
.partner-community-message a:hover,
.partner-community-message a:focus {
	font-family: 'Montserrat', Verdana, Arial, Helvetica, sans-serif;
	color: var(--wave-obfuscation-grey-text) !important;
	margin: 0px !important;
	font-size: 0.8rem !important;
	text-transform: none !important;
	opacity: 1 !important;
}
.hide-stories .warning-message,
.hide-stories .partner-community-message {
	display: none;
}
h1 span.obfuscate {
	padding: 8px 6px 4px 6px;
}
h2 span.obfuscate,
.story-container h1 span.obfuscate {
	padding: 6px 5px 2px 5px;
}
p span.obfuscate {
	padding: 3px 5px 3px 5px;
}
span.obfuscate.content {
	color: var(--wave-obfuscation-grey-text);
}
.story-container span.obfuscate.content {
	color: var(--wave-obfuscation-grey-text);
}
.read-story-link {
	display: block;
}
.hide-stories .read-story-link {
	display: none;
}
.story-card a,
.story-card a:link,
.story-card a:visited {
	text-transform: uppercase;
	font-size: 0.65rem;
	margin-top: 1px;
	color: var(--wave-placeholder-text);
}
.story-card a:hover,
.story-card a:active {
	opacity: 0.75;
}
.story-actions-container {
	border-top: 1px solid var(--wave-skeleton-grey);
	padding: 6px 0px 8px 0px;
	margin-top: 20px;
	display: block;
}
.story-actions-container.full-story {
	margin-top: 30px;
	height: 56px;
}
.hide-stories .story-actions-container {
	display: none;
}
.reactions-placeholder {
	height: 30px;
	display: none;
}
.hide-stories .reactions-placeholder {
	display: block;
}
.story-actions-container button,
.reactions-trigger button,
.story-actions-container .story-action-button {
	font-family: 'Montserrat', Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: var(--wave-obfuscation-grey-text);
	font-size: 0.83rem;
	text-transform: none;
	letter-spacing: normal;
	background-color: transparent;
	border-radius: 4px;
	padding: 8px 0px 6px 0px;
	width: 100%;
}
.story-actions-container .story-action-button {
	display: inline-block;
	color: var(--wave-obfuscation-grey-text) !important;
	margin: 0px !important;
}
.story-actions-container button:hover,
.reactions-trigger button:hover,
.story-actions-container .story-action-button:hover {
	background-color: var(--wave-light-grey);
}
.story-actions-container button span,
.reactions-trigger button span,
.story-actions-container .story-action-button span {
	position: relative;
	top: -3.5px;
	text-transform: uppercase;
	font-size: 11px;
}
.show-support-icon {
	background-image: url('../img/icons/heart-icon.png');
	background-position: center;
	background-size: cover;
	margin-right: 5px;
	width: 18px;
	height: 18px;
	display: inline-block;
	position: relative;
	top: 2px;
}
.read-story-icon {
	background-image: url('../img/icons/book-icon.png');
	background-position: center;
	background-size: cover;
	margin-right: 5px;
	width: 18px;
	height: 18px;
	display: inline-block;
	position: relative;
	top: 2px;
}
.story-actions-container a:hover,
.story-actions-container a:active {
	opacity: 1;
}
.story-actions-container i {
	margin-right: 7px;
	font-size: 1.1rem;
	position: relative;
	top: 2px;
}
.stories-title-container {
	display: inline-block;
	width: 100%;
	position: relative;
}
.impact-container.hide-impact {
	display: none;
}
.impact-container {
	margin-top: -5px;
}
.impact-container .impact-element {
	border-radius: 5px;
	background-color: white;
	padding: 11px 14px;
	display: inline-block;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.08);
	margin: 0px 4px 2px 0px;
	cursor: default;
}
.impact-container .impact-element:hover {
	box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.12);
}
.impact-element h3 {
	font-family: 'Montserrat', Verdana, Arial, Helvetica, sans-serif !important;
	text-transform: uppercase;
	font-size: 0.9rem;
	margin: 4px 0px 0px 0px;
	float: left;
}
.impact-tooltip {
	font-family: 'Montserrat', Verdana, Arial, Helvetica, sans-serif !important;
	font-weight: 700 !important;
	color: var(--wave-dark-blue);
	position: absolute;
	bottom: 60%;
	left: 0px;
	margin-top: 10px;
	margin-bottom: 8px;
	padding: 0.55rem 1rem;
	font-size: 0.9rem;
	border-radius: 4px;
	background-color: var(--wave-white);
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.12);
	pointer-events: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	opacity: 0;
	transition: all 0.2s ease-in-out;
	z-index: 8;
}
.impact-element:hover .impact-tooltip {
	bottom: 100%;
	opacity: 1;
}
.impact-icon {
	width: 22px;
	height: 22px;
	float: left;
	margin-right: 8px;
	border-radius: 50%;
}

/* REACTIONS */

.reactions-trigger {
	position: absolute;
	width: 50%;
	bottom: 8px;
	left: 0px;
	height: 38px;
	z-index: 8;
	border-radius: 4px;
}
.reactions-box {
	position: absolute;
	left: 0px;
	bottom: 46px;
	width: 70%;
	height: 20px;
}
.reactions-box.hide-reactions {
	display: none;
}
.reactions-trigger.full-story {
	width: 250px;
	left: 50%;
	margin-left: -125px;
}
.reactions-box.full-story {
	width: 250px;
	left: 50%;
	margin-left: -125px;
}
.support-container {
	display: block;
}
.hide-stories .support-container {
	display: none;
}
.reaction-icon,
.field-reactions {
	clip: rect(1px, 1px, 1px, 1px);
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
}
.reactions-trigger:hover ~ .reactions-box .reaction-icon,
.reactions-box:hover .reaction-icon,
.field-reactions:checked ~ .reaction-icon {
	clip: auto;
	overflow: visible;
	opacity: 1;
}
.reaction-icon {
	border: none;
	background-color: transparent;
	display: block;
	cursor: pointer;
	height: 48px;
	position: absolute;
	width: 48px;
	z-index: 101;
	top: -21px;
	transform-origin: 50% 100%;
	transform: scale(0.1);
	transition: all 0.3s;
	outline: none;
	will-change: transform;
	opacity: 0;
	border-radius: 50%;
}
.reaction-badge-container {
	position: relative;
	top: -51px;
}
.hide-stories .reaction-badge-container {
	display: none;
}
.reaction-badge {
	background-color: transparent;
	display: block;
	cursor: pointer;
	height: 42px;
	position: absolute;
	width: 42px;
	z-index: 101;
	outline: none;
	border-radius: 50%;
	transform: scale(0.8);
	transition: all 0.3s;
	will-change: transform;
	border: 5px solid white;
	box-shadow: 0px -9px 10px rgba(0, 0, 0, 0.03);
}
.reaction-badge.first {
	left: -8px;
}
.reaction-badge.second {
	left: 17px;
}
.reaction-badge.third {
	left: 42px;
}
.reaction-badge.fourth {
	left: 67px;
}
.reaction-badge.fifth {
	left: 92px;
}
.reaction-badge.lower {
	top: 16px;
}
.reaction-badge.mid {
	top: 5px;
}
.reactions-modal-container {
	padding: 40px 0px 10px;
	text-align: center;
}
.reactions-modal-container .reaction-badge {
	position: relative;
	box-shadow: none;
	border: none;
	height: 52px;
	width: 52px;
	display: inline-block;
}
.reactions-modal-container .reaction-badge .legend-reaction {
	top: -28px;
}
.reactions-toolbox {
	background: #fff;
	height: 52px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.12);
	width: 200px;
	border-radius: 40px;
	top: -50px;
	left: 0;
	position: absolute;
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.15s;
}
.legend-reaction {
	box-sizing: border-box;
	display: inline-block;
	font-weight: bold;
	line-height: 20px;
	white-space: nowrap;
	opacity: 0;
	overflow: hidden;
	transition: opacity 50ms ease;
	left: 50%;
	position: absolute;
	top: -28px;
	transform: translateX(-50%);
	padding-left: 2px;
	text-transform: none;
}
.reaction-badge .legend-reaction {
	text-transform: none;
	top: -32px;
}
.legend-reaction span {
	font-family: 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
	letter-spacing: normal;
	background: var(--wave-darker-blue);
	padding: 0 8px;
	font-size: 12px;
	display: inline-block;
	text-align: center;
	border-radius: 10px;
	color: #fff;
	text-transform: none;
}
.legend-reaction span i {
	margin-left: 4px;
	position: relative;
	top: 0.3px;
}
.reactions-trigger:hover ~ .reactions-box .reaction-icon,
.reactions-box:hover .reaction-icon {
	transform: scale(0.8) translateY(-40px);
}
.reactions-trigger:hover ~ .reactions-box .reaction-icon:hover,
.reactions-trigger:hover ~ .reactions-box .reaction-icon:focus,
.reactions-box:hover .reaction-icon:hover,
.reactions-box:hover .reaction-icon:focus {
	transition: all 0.2s ease-in;
	transform: scale(1) translateY(-35px);
}
.reaction-badge:hover,
.reaction-badge:focus {
	transform: scale(1) translateY(-5px);
	z-index: 102;
}
.reactions-trigger:hover ~ .reactions-box .reaction-icon:hover .legend-reaction,
.reactions-trigger:hover ~ .reactions-box .reaction-icon:focus .legend-reaction,
.reactions-box:hover .reaction-icon:hover .legend-reaction,
.reactions-box:hover .reaction-icon:focus .legend-reaction,
.reaction-badge:hover .legend-reaction,
.reaction-badge:focus .legend-reaction {
	opacity: 1;
}
.reactions-trigger:hover ~ .reactions-box .reactions-toolbox,
.reactions-box:hover .reactions-toolbox {
	opacity: 1;
	visibility: visible;
}
.reactions-trigger:hover ~ .reactions-box .reaction-b,
.reactions-box:hover .reaction-b {
	transition-delay: 0.06s;
}
.reactions-trigger:hover ~ .reactions-box .reaction-c,
.reactions-box:hover .reaction-c {
	transition-delay: 0.09s;
}
.reactions-trigger:hover ~ .reactions-box .reaction-d,
.reactions-box:hover .reaction-d {
	transition-delay: 0.12s;
}
.reactions-trigger:hover ~ .reactions-box .reaction-e,
.reactions-box:hover .reaction-e {
	transition-delay: 0.15s;
}
.field-reactions:checked ~ .reaction-icon {
	transform: scale(0.8) translateY(-40px);
}
.field-reactions:checked ~ .reaction-icon:hover,
.field-reactions:checked ~ .reaction-icon:focus {
	transition: all 0.2s ease-in;
	transform: scale(1) translateY(-35px);
}
.field-reactions:checked ~ .reaction-icon:hover .legend-reaction,
.field-reactions:checked ~ .reaction-icon:focus .legend-reaction {
	opacity: 1;
}
.field-reactions:checked ~ .reactions-toolbox {
	opacity: 1;
	visibility: visible;
}
.field-reactions:checked ~ .reaction-b {
	transition-delay: 0.03s;
}
.field-reactions:checked ~ .reaction-c {
	transition-delay: 0.09s;
}
.field-reactions:checked ~ .reaction-d {
	transition-delay: 0.12s;
}
.field-reactions:checked ~ .reaction-e {
	transition-delay: 0.15s;
}
.reaction-a-pos {
	left: 2px;
}
.reaction-b-pos {
	left: 51px;
}
.reaction-c-pos {
	left: 100px;
}
.reaction-d-pos {
	left: 100px;
}
.reaction-e-pos {
	left: 150px;
}
.impression-icon {
	background-image: url('../img/reactions/impression-icon.png');
	background-position: center;
	background-size: cover;
}
.reaction-a-icon {
	background-image: url('../img/reactions/reactions-a-icon.png');
	background-position: center;
	background-size: cover;
}
.reaction-b-icon {
	background-image: url('../img/reactions/reactions-b-icon.png');
	background-position: center;
	background-size: cover;
}
.reaction-c-icon {
	background-image: url('../img/reactions/reactions-c-icon.png');
	background-position: center;
	background-size: cover;
}
.reaction-d-icon {
	background-image: url('../img/reactions/reactions-d-icon.png');
	background-position: center;
	background-size: cover;
}
.reaction-e-icon {
	background-image: url('../img/reactions/reactions-e-icon.png');
	background-position: center;
	background-size: cover;
}
.reaction-bounce {
	animation: reaction-bounce 0.4s;
}
@keyframes reaction-bounce {
	0% {
		transform: scale(1) translateY(-35px);
	}
	30% {
		transform: scale(1.05) translateY(-35px);
	}
	60% {
		transform: scale(0.95) translateY(-35px);
	}
	80% {
		transform: scale(0.98) translateY(-35px);
	}
	100% {
		transform: scale(1) translateY(-35px);
	}
}
.reaction-add-bounce {
	animation: reaction-add-bounce 0.4s;
}
@keyframes reaction-add-bounce {
	0% {
		transform: scale(0.8);
	}
	30% {
		transform: scale(1);
	}
	60% {
		transform: scale(0.7);
	}
	80% {
		transform: scale(0.78);
	}
	100% {
		transform: scale(0.8);
	}
}
.content-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index: 9;
	opacity: 0;
	display: none;
}
.content-overlay.active {
	opacity: 0.6;
	display: block;
}

/* STORY CONTENT */

.story-content-padding {
	padding-top: 50px;
	padding-bottom: 120px;
}
.story-navigation {
	margin-bottom: 35px;
}
.story-navigation a,
.story-navigation a:link,
.story-navigation a:visited {
	text-transform: uppercase;
	font-size: 0.65rem;
	margin-top: 22px;
	color: var(--wave-dark-blue);
}
.story-navigation a:hover,
.story-navigation a:active {
	opacity: 0.75;
}
.story-navigation span {
	margin-left: 7px;
}
.story-container h1 {
	margin-bottom: 20px;
}
.story-container p {
	line-height: 2;
}
.message-divider-section-spacer {
	margin-top: 30px;
	width: 100%;
}
.message-divider-section {
	padding: 25px 20px 20px;
	border-radius: 6px;
	background-color: var(--wave-lighter-blue);
	margin-top: 20px;
}
.message-divider-section h4 {
	font-size: 1.1rem;
}
.message-divider-section.warning {
	background-color: var(--wave-light-orange);
	padding-top: 20px;
}
.message-divider-section.warning p {
	color: var(--wave-dark-orange);
}
.story-card {
	cursor: pointer;
}
.hide-stories .story-card {
	cursor: default;
}
.story-card .message-divider-section {
	padding: 10px 15px 10px;
}
.story-card .message-divider-section p {
	margin: 0px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.story-content-margin {
	height: 40px;
	width: 100%;
}

/* SHARE CONTENT */

.share-content-section-padding {
	padding-top: 40px;
	padding-bottom: 50px;
}
.share-content-section h2 {
	color: var(--wave-dark-blue);
}
.share-content-section h3 {
	text-transform: uppercase;
	font-size: 0.75rem;
	letter-spacing: 0.7px;
	margin-bottom: 18px;
	color: var(--wave-dark-blue);
}
.share-content-section h4 {
	color: var(--wave-dark-blue);
}
.share-content-section p {
	color: var(--wave-dark-blue);
	line-height: 1.6;
}
.share-content-section p a,
.share-content-section p a:link,
.share-content-section p a:visited {
	color: var(--wave-dark-blue);
	text-decoration: underline;
	text-transform: unset;
	font-family: unset;
	font-weight: unset;
	letter-spacing: unset;
}
.legal-text-holder {
	margin-top: 30px;
}
.legal-text-holder p {
	font-size: 0.8rem;
	line-height: 1.6;
}
.share-title-section {
	margin-bottom: 20px;
}
.share-title-section .bold {
	font-weight: 800;
}
.input-container-with-error {
	position: relative;
}
.input-alert-container {
	width: 100%;
	position: absolute;
	opacity: 0;
}
.input-alert-inner {
	max-width: 100%;
	font-family: 'Montserrat', Verdana, Arial, Helvetica, sans-serif !important;
	font-weight: 700 !important;
	color: var(--wave-dark-blue);
	background-color: white;
	font-size: 0.97em;
	line-height: 1.6;
	display: inline-block;
	padding: 16px 24px 16px 24px;
	border-color: white;
	outline: 0;
	border-radius: 4px;
	border: none;
	text-align: center;
	margin: 0px auto;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
}
.input-alert-inner.shadow {
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.12);
}
.share-tags-section {
	padding-bottom: 30px;
}
.share-tags-section h4 {
	font-size: 1.2rem;
	margin: 0px;
}
.share-tags-section .tag-row {
	margin-top: 45px;
}
.share-tags-section .tag-row.small-margin {
	margin-top: 2px;
}
.share-tags-section .tag-container {
	margin-top: 0px;
	position: relative;
}
.tag-container .tag {
	font-family: 'Montserrat', Verdana, Arial, Helvetica, sans-serif !important;
	font-weight: 700 !important;
	display: inline-block;
	border-radius: 4px;
	background-color: transparent;
	border: 2px solid var(--wave-dark-blue);
	color: var(--wave-dark-blue);
	padding: 7px 14px 7px 14px;
	margin: 10px 5px 0px 0px;
	cursor: pointer;
}
.tag-container .tag:hover {
	background-color: var(--wave-dark-blue);
	color: var(--wave-yellow-gradient-button);
}
.tag-container .tag.selected {
	background-color: var(--wave-dark-blue);
	color: var(--wave-yellow-gradient-button);
}
.tag-holder {
	display: inline-block;
}
.tag-holder .tag-tooltip {
	font-family: 'Montserrat', Verdana, Arial, Helvetica, sans-serif !important;
	font-weight: 700 !important;
	color: var(--wave-dark-blue);
	position: absolute;
	bottom: 60%;
	left: 0px;
	margin-top: 10px;
	padding: 0.55rem 1rem;
	font-size: 0.9rem;
	border-radius: 4px;
	background-color: var(--wave-white);
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.12);
	pointer-events: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	opacity: 0;
	transition: all 0.2s ease-in-out;
}
.tag-holder:hover .tag-tooltip {
	bottom: 100%;
	opacity: 1;
}
.share-options-container {
	margin-top: 40px;
}
.share-options-container p {
	font-size: 0.9rem;
	line-height: 1.5;
}
.share-options-container .options-row {
	margin-top: 7px;
}
.share-options-container .options-row p.small-margin {
	margin-bottom: 5px;
}
.share-options-container .options-row.top-margin {
	margin-top: 5px;
}
.get-started-content {
	font-size: 1.2rem;
}
.get-started-content.top {
	margin-top: 20px;
}
.get-started-content.story-divider {
	line-height: 1rem;
	font-size: 2.5rem;
}
.get-started-button {
	margin-top: 0px;
}
.custom-checkbox {
	width: 27px;
	height: 27px;
	background-color: transparent;
	border-radius: 4px;
	outline: 0;
	border: solid 2px var(--wave-dark-blue);
	display: inline-block;
	float: left;
	margin-right: 17px;
	cursor: pointer;
}
.custom-checkbox:focus,
.custom-checkbox:active,
.custom-checkbox.active {
	outline: 0;
	border: solid 2px var(--wave-dark-blue);
	background-image: url('../img/icons/checkmark-icon.png');
	background-position: center;
	background-size: cover;
	background-color: var(--wave-dark-blue);
}
.custom-checkbox-content {
	display: table-cell;
	text-align: left;
	position: relative;
	top: -5px;
}
.record-section {
	margin-top: 45px;
}
.resource-section {
	margin-top: 15px;
}
.filter-container {
	overflow: hidden;
	display: block;
}
.filter-container.hide-filter {
	height: 0px;
}
.filter-container.hidden {
	display: none;
}
.filter-container .inner {
	margin: 10px auto 10px;
	display: inline-block;
	width: 100%;
}
.filter-button {
	border-radius: 5px;
	border: 2px solid var(--wave-dark-blue);
	background-color: transparent;
	width: 105px;
	height: 44px;
	text-align: center;
	cursor: pointer;
}
.filter-button.hide {
	display: none;
}
.filter-button span {
	font-family: 'Montserrat', Verdana, Arial, Helvetica, sans-serif !important;
	text-transform: uppercase;
	font-size: 0.9rem;
	color: var(--wave-dark-blue);
	margin: 0px 0px 0px 7px;
	position: relative;
	top: -2px;
}
.filter-button i {
	font-size: 1.1rem;
	color: var(--wave-dark-blue);
	margin-top: 12px;
}
.filter-button:hover,
.filter-button.active {
	background-color: var(--wave-dark-blue);
}
.filter-button:hover span,
.filter-button.active span {
	color: var(--wave-yellow-gradient-top);
}
.filter-button:hover i,
.filter-button.active i {
	color: var(--wave-yellow-gradient-top);
}
.filter-container .filter-holder {
	font-size: 0px;
	overflow: hidden;
}

/* RESOURCES */

.resources-lower-section {
	padding: 60px 0px 110px;
}
.resources-lower-section p {
	font-size: 1.2rem;
	font-weight: 900;
}
.resources-lower-section i {
	color: var(--wave-red);
}
.resource-page-section {
	margin-top: 65px;
	margin-bottom: -30px;
}
.resource-card {
	margin: 12px 12px 12px 12px;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.14);
	padding: 28px 28px 28px 28px;
	border-radius: 6px;
	text-align: center;
	position: relative;
}
.resource-card:hover {
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.24);
}
.resource-card h3 {
	font-size: 1.1rem !important;
	margin-bottom: 5px;
	text-transform: none;
	letter-spacing: normal !important;
}
.resource-card h4 {
	font-size: 0.9rem !important;
	font-family: 'Montserrat', Verdana, Arial, Helvetica, sans-serif !important;
	margin: 15px 0px 0px;
	text-transform: none;
	letter-spacing: normal !important;
	font-style: initial;
}
.resource-card h4.about-link {
	margin-top: 10px;
	font-family: 'Montserrat', Verdana, Arial, Helvetica, sans-serif !important;
	text-transform: uppercase;
	font-size: 0.65rem !important;
	margin-left: -5px;
	font-style: normal !important;
}
.resource-card h4.about-link:hover {
	opacity: 0.75;
}
.resource-card p {
	margin: 15px 0px 0px;
}
.resource-card.white {
	background-color: white;
}
.resource-card.blue {
	background-color: var(--wave-dark-blue);
}
.resource-card.white h3,
.resource-card.white h4,
.resource-card.white p {
	color: var(--wave-darker-blue);
}
.resource-card.blue h3,
.resource-card.blue h4,
.resource-card.blue p {
	color: white;
}
.resource-card .resource-name-holder {
	margin-top: 16px;
}
.resource-card .resource-name-holder h4 > a,
.resource-card .resource-name-holder h4 > a:link,
.resource-card .resource-name-holder h4 > a:visited {
	font-size: 0.8rem !important;
	font-family: 'Montserrat', Verdana, Arial, Helvetica, sans-serif !important;
	margin: 0px;
	text-transform: none;
	letter-spacing: normal !important;
	font-style: initial;
	color: var(--wave-darker-blue);
	text-decoration: underline;
}
.resource-card.blue .resource-name-holder h4 > a,
.resource-card.blue .resource-name-holder h4 > a:link,
.resource-card.blue .resource-name-holder h4 > a:visited {
	color: white;
}
.partner-logo {
	width: 80px !important;
	height: 80px !important;
	border-radius: 0px !important;
}

/* RESOURCES CONTENT */

.update-section {
	margin-top: 60px;
}
.update-section-title {
	margin-bottom: 20px;
}
.update-section-title h3 {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.update-section-title h3:before,
.update-section-title h3:after {
	content: '';
	border-top: 2px solid;
	margin: 0 15px 5px 0;
	flex: 1 0 20px;
}
.update-section-title h3:after {
	margin: 0 0 5px 15px;
}
.custom-switch {
	float: left;
	position: relative;
	user-select: none;
}
.custom-switch input {
	display: none;
}
.custom-switch label {
	margin: 0px 24px 0px 0px;
	position: relative;
	width: 86px;
	height: 44px;
	border-radius: 8px;
	border: 3px solid var(--wave-dark-blue);
	cursor: pointer;
	display: inline-block;
	transition: all 0.4s ease-in-out;
}
.custom-switch label:after {
	position: relative;
	display: block;
	content: '';
	width: 34px;
	height: 32px;
	top: 3px;
	left: 3px;
	border-radius: 5px;
	background: var(--wave-dark-blue);
	pointer-events: none;
	transition: all 0.4s ease-in-out;
}
.custom-switch input:checked + label {
	background: var(--wave-dark-blue);
}
.custom-switch input:checked + label:after {
	left: 43px;
	background: var(--wave-yellow-gradient-button);
}

/* MODAL CONTENT */

.modal {
	position: fixed;
	z-index: 99999;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	opacity: 0;
	visibility: hidden;
	transform: scale(1.1);
	transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.modal-inner {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	width: 90%;
	margin: 0px auto;
	max-width: 470px;
	border-radius: 8px;
	box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.22);
	overflow: hidden;
}
.modal-content {
	padding: 18px 40px 18px 40px;
}
.show-modal {
	opacity: 1;
	visibility: visible;
	transform: scale(1);
	transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
.modal-inner .solid {
	width: 100%;
	box-shadow: none;
	border-radius: 0px;
}
.modal-inner .left-button {
	width: 50%;
	display: inline-block;
}
.modal-inner .right-button {
	width: 50%;
	float: right;
}
.modal-inner .grey-button {
	background-color: var(--wave-button-grey);
	border: 2px solid var(--wave-button-grey);
}
.modal-content h1 {
	font-size: 1.9rem;
	text-align: center;
	margin-top: 15px;
}
.modal-inner h3 {
	font-weight: 700;
	text-align: center;
	font-size: 0.7rem;
	margin: 19px 0px 14px;
}
.modal-content p {
	text-align: center;
}
.modal-inner .divider-line {
	height: 1px;
	background-color: var(--wave-grey-text);
	opacity: 0.2;
}

/* COOKIE BAR CONTENT */

.cookie-bar {
	height: auto;
	background-color: var(--wave-white);
	position: fixed;
	display: flex;
	justify-content: space-between;
	bottom: 0;
	width: 100%;
	z-index: 998;
	padding-top: 20px;
	padding-bottom: 20px;
	box-shadow: 0px -3px 20px rgba(0, 0, 0, 0.06);
}
.cookie-bar .text-container {
	display: flex;
	align-items: center;
}
.cookie-bar .text-container p {
	margin: 0px;
	font-size: 0.9rem;
	color: var(--wave-grey-text);
	font-weight: 700;
}
.cookie-bar .text-container p a,
.cookie-bar .text-container p a:link,
.cookie-bar .text-container p a:visited {
	text-decoration: underline;
	color: inherit;
	text-transform: inherit;
	font-weight: inherit;
	font-family: inherit;
}
.cookie-bar .button-container {
	display: flex;
	align-items: center;
	margin: 0px 0px 0px 30px;
}
.cookie-bar button.cookie-button {
	font-size: 11px;
	white-space: nowrap;
	opacity: 1;
	text-transform: uppercase;
	font-weight: 500;
	padding: 14px 0px 10px;
	color: var(--wave-grey-text);
}
.cookie-bar button.cookie-button.solid {
	background-color: var(--wave-dark-blue);
	color: var(--wave-white);
	border-radius: 4px;
	padding: 14px 25px 10px;
	margin-right: 25px;
	float: right;
}
.cookie-bar button.cookie-button:hover {
	opacity: 0.8;
}
.cookie-bar .small-screen-span {
	display: inline;
}
@media only screen and (max-width: 25em) {
	.cookie-bar .small-screen-span {
		display: none;
	}
}
@media only screen and (max-width: 45em) {
	.cookie-bar {
		display: block;
	}
	.cookie-bar .button-container {
		margin: 20px 0px 0px 0px;
	}
}

/* VOTE CTA CONTENT */

.vote-cta {
	display: flex;
	justify-content: space-between;
	padding-top: 22px;
	padding-bottom: 22px;
	background-color: var(--wave-dark-blue);
}
.vote-cta .text-container {
	display: flex;
	align-items: center;
}
.vote-cta .text-container p {
	margin: 0px;
	font-size: 0.9rem;
	color: var(--wave-white);
	font-weight: 700;
}
.vote-cta .text-container p a,
.vote-cta .text-container p a:link,
.vote-cta .text-container p a:visited {
	text-decoration: underline;
	color: inherit;
	text-transform: inherit;
	font-weight: inherit;
	font-family: inherit;
}
.vote-cta .button-container {
	display: flex;
	align-items: center;
	margin: 0px 0px 0px 40px;
}
.vote-cta button.vote-button {
	font-size: 11px;
	white-space: nowrap;
	opacity: 1;
	text-transform: uppercase;
	font-weight: 500;
	padding: 14px 0px 10px;
	color: var(--wave-dark-blue);
}
.vote-cta button.vote-button.solid {
	background-color: var(--wave-white);
	color: var(--wave-dark-blue);
	border-radius: 4px;
	padding: 17px 25px 13px;
	float: right;
}
.vote-cta button.vote-button:hover {
	opacity: 0.8;
}
@media only screen and (max-width: 45em) {
	.vote-cta {
		display: block;
	}
	.vote-cta .button-container {
		margin: 20px 0px 0px 0px;
	}
}

/* DOCUMENT CONTENT */

.document-content-section p {
	font-size: 1.2rem;
	font-weight: 900;
	line-height: 100%;
	margin-bottom: 20px;
	margin-top: 15px;
}
.document-content-padding {
	padding-top: 50px;
	padding-bottom: 30px;
}
.document-content-padding p,
.document-content-padding li {
	font-size: 1.1rem;
}
.document-content-body a,
.document-content-body a:link,
.document-content-body a:visited {
	font-family: 'Montserrat', Verdana, Arial, Helvetica, sans-serif;
	text-decoration: underline;
	text-transform: unset;
	font-size: unset;
	letter-spacing: unset;
	font-weight: 600;
	line-height: 180%;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
}
.document-content-body h2 {
	text-transform: unset;
	letter-spacing: unset;
	margin-bottom: 8px;
}
.document-content-body h3 {
	margin-bottom: 8px;
	letter-spacing: normal;
	text-transform: none;
}

.header {
	height: 80px;
	background-color: red;
	position: fixed;
}
.footer {
	height: 80px;
	background-color: red;
}

.home-page {
	height: 600px;
}
.error-page {
	height: 600px;
}

/* MIT LICENSE */

/* MEDIA QUERIES */

@media only screen {
	.legal-content {
		padding-top: 20px;
		padding-bottom: 80px;
	}
	.legal-text-content {
		padding-top: 20px;
		padding-bottom: 50px;
	}
	.legal-title,
	.legal-text-title {
		padding-top: 40px;
		padding-bottom: 40px;
		text-align: left;
	}
	.legal-title h1,
	.legal-text-title h1 {
		font-size: 1.8rem;
		margin: 8px 0px;
	}
	.legal-text-title .logo-icon {
		margin-left: 0px !important;
	}
	table.settings-table {
		font-size: 0.775rem;
	}
	.settings-table td,
	.settings-table th,
	table.settings-table td,
	table.settings-table th {
		padding: 1.25rem;
	}
}
@media only screen and (min-width: 25.563em) {
	table.settings-table {
		font-size: 1em;
	}
	.settings-table td,
	.settings-table th,
	table.settings-table td,
	table.settings-table th {
		padding: 1.875rem;
	}
}
@media only screen and (min-width: 43.9375em) {
	.legal-content {
		padding-top: 50px;
		padding-bottom: 150px;
	}
	.legal-text-content {
		padding-top: 50px;
		padding-bottom: 80px;
	}
	.legal-title,
	.legal-text-title {
		padding-top: 70px;
		padding-bottom: 70px;
		text-align: center;
	}
	.legal-title h1,
	.legal-text-title h1 {
		font-size: 3rem;
		margin: 8px 0px;
	}
	.legal-text-title .logo-icon {
		margin-left: auto !important;
	}
	.nav-container .menu-arrow.hide,
	.legal-nav-small-holder .menu-arrow.hide {
		opacity: 0;
	}
}

/* GENERAL */

.legal-nav-small-holder .menu-arrow-container {
	width: 20px;
	height: 20px;
	float: right;
	position: relative;
	top: -1px;
}
.legal-nav-small-holder .menu-arrow.colored-open {
	background-image: url('/img/icons/menu-arrow-dark.png');
	background-position: center;
	background-size: cover;
	position: absolute;
	top: 0px;
	opacity: 1;
	width: 100%;
	height: 100%;
}
.legal-nav-small-holder .menu-arrow.colored-close {
	background-image: url('/img/icons/menu-arrow-open-dark.png');
	background-position: center;
	background-size: cover;
	position: absolute;
	top: 0px;
	opacity: 1;
	width: 100%;
	height: 100%;
}
.legal-nav-small-holder .nav-container .menu-arrow {
	width: 100%;
	height: 100%;
	display: block;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
}
.legal-content {
	background-color: var(--wave-lighter-blue);
	border-top: 1px solid var(--wave-border-grey);
}
.legal-text-content {
	background-color: var(--wave-white);
	border-top: 1px solid var(--wave-border-grey);
}
.legal-title {
	background-color: var(--wave-white);
}
.legal-text-title {
	background-color: var(--wave-lighter-blue);
}
.legal-side-navigation {
	padding-left: 0px;
	height: 100%;
}
.legal-side-navigation h4 {
	font-size: 1rem;
	font-weight: 500;
	margin: 22px 0px 17px;
	color: var(--wave-darker-blue);
}
.legal-small-menu {
	padding-top: 25px;
	padding-bottom: 20px;
	border-top: 1px solid var(--wave-border-grey);
}
.legal-small-menu h4 {
	font-size: 16px;
	font-weight: 600;
	margin: 22px 0px 15px;
	color: var(--wave-darker-blue);
}
.legal-side-navigation h4:first-child {
	margin: 20px 0px 17px 0px;
}
.legal-small-menu h4:first-child {
	margin: 0px 0px 15px 0px;
}
.legal-side-navigation a,
.legal-side-navigation a:link,
.legal-side-navigation a:visited {
	font-family: 'Montserrat', Verdana, Arial, Helvetica, sans-serif;
	display: block;
	font-size: 0.9rem;
	padding-bottom: 18px;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	color: var(--wave-darker-blue);
	letter-spacing: normal;
	text-transform: initial;
	margin-right: 50px;
	position: relative;
}
.legal-small-menu a,
.legal-small-menu a:link,
.legal-small-menu a:visited {
	font-family: 'Montserrat', Verdana, Arial, Helvetica, sans-serif;
	display: block;
	font-size: 15px;
	padding-bottom: 18px;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	color: var(--wave-darker-blue);
	text-transform: none;
	letter-spacing: normal;
	position: relative;
}
.legal-side-navigation a:hover,
.legal-small-menu a:hover {
	color: var(--wave-darker-blue);
}
.legal-side-navigation span,
.legal-small-menu span {
	z-index: 2;
	position: relative;
}
.legal-side-navigation .link-active span.highlight,
.legal-small-menu .link-active span.highlight {
	background-color: var(--wave-lighter-blue);
	border-radius: 5px;
	color: var(--wave-darker-blue);
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 1;
	top: -10px;
	left: -11px;
}
.legal-small-menu .link-active span.highlight {
	top: -11px;
}
.legal-items-container {
	margin: 0px !important;
}
.legal-items-container .cell {
	padding: 0px 10px 0px 10px;
	margin-top: 20px;
}
.legal-item-container {
	background-color: var(--wave-white);
	cursor: pointer;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	border-radius: 3px;
}
.legal-item-container:hover {
	box-shadow: 0px 0px 26px rgba(0, 0, 0, 0.12);
}
.legal-item-container h2 {
	color: var(--wave-darker-blue);
	letter-spacing: normal;
	text-transform: initial;
	font-size: 1.5rem;
}
.legal-item-container p {
	color: var(--wave-darker-blue);
	margin: 10px 0px 0px;
	font-size: 1.1rem;
	letter-spacing: normal;
	text-transform: initial;
}
.legal-item-container .text-holder {
	padding: 24px;
	min-height: 220px;
}
.legal-item-container .icon-holder {
	height: 240px;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.icon-holder.legal-cover-1 {
	background-image: url('/img/covers/legal-cover-1.jpg');
}
.icon-holder.legal-cover-2 {
	background-image: url('/img/covers/legal-cover-2.jpg');
}
.icon-holder.legal-cover-3 {
	background-image: url('/img/covers/legal-cover-3.jpg');
}
.icon-holder.legal-cover-4 {
	background-image: url('/img/covers/legal-cover-4.jpg');
}
.legal-item-container .cta-holder {
	padding: 24px 20px 20px;
	display: inline-block;
	width: 100%;
	margin: 0px 0px -6px 0px;
}
.legal-item-container .cta-holder .cta-left {
	float: left;
}
.legal-item-container .cta-holder .cta-right {
	float: right;
}
.legal-item-container .cta-holder h4 {
	margin: 3px 0px 0px 0px;
	font-weight: 600 !important;
	text-transform: uppercase;
	color: var(--wave-darker-blue);
	font-size: 12px;
}
.legal-item-container .cta-holder i {
	color: var(--wave-darker-blue);
}
.legal-nav-small-holder {
	border-bottom: 1px solid var(--wave-border-grey);
	cursor: pointer;
}
.legal-nav-small {
	display: inline-block;
	width: 100%;
	margin-bottom: -6px;
	padding-top: 22px;
	padding-bottom: 22px;
}
.legal-nav-small-holder h3 {
	float: left;
	font-size: 1.175rem;
	margin: 0px;
	font-weight: 500;
	color: var(--wave-darker-blue);
	max-width: 83%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	letter-spacing: normal;
	text-transform: none !important;
}
.legal-nav-small-holder img {
	float: right;
	width: 20px;
	height: 20px;
	margin-top: 2px;
}
.toggle-legal-menu {
	display: none;
}
.toggle-legal-menu.show {
	display: block;
}
.legal-text-content-inner {
	margin-top: 15px;
}
table.settings-table {
	border-collapse: collapse;
	border-spacing: 0;
	display: table;
	box-sizing: border-box;
	margin-top: 1.875rem;
	color: var(--wave-darker-blue);
}
.settings-table thead {
	background-color: var(--wave-lighter-blue);
	display: table-header-group;
	vertical-align: middle;
	border-color: inherit;
	color: var(--wave-darker-blue);
}
.settings-table tbody,
.settings-table tbody tr {
	background-color: var(--wave-white) !important;
	color: var(--wave-darker-blue);
}
.settings-table tr:first-child,
table.settings-table tr:first-child {
	border-top: 0.0625em solid var(--wave-table-border);
}
.settings-table tr,
table.settings-table tr {
	border-bottom: 0.0625em solid var(--wave-table-border) !important;
}
.settings-table tr {
	display: table-row;
	vertical-align: inherit;
	border-color: inherit;
	color: var(--wave-darker-blue);
}
.settings-table td:first-child,
.settings-table th:first-child,
table.settings-table td:first-child,
table.settings-table th:first-child {
	border-left: 0.0625em solid var(--wave-table-border);
}
.settings-table td,
.settings-table th,
table.settings-table td,
table.settings-table th {
	border-right: 0.0625em solid var(--wave-table-border);
	color: var(--wave-darker-blue);
}
.settings-table td:nth-child(2) {
	white-space: nowrap;
}
.settings-table th,
table.settings-table th {
	text-align: center;
	font-weight: 700;
	color: var(--wave-darker-blue);
}
.settings-table tbody {
	display: table-row-group;
	vertical-align: middle;
	border-color: inherit;
	color: var(--wave-darker-blue);
}
.cookie-settings-container {
	margin-top: 50px;
	border-radius: 8px;
	background-color: var(--wave-lighter-blue);
	padding: 1.975rem;
}
.cookie-settings-container h2 {
	padding-bottom: 5px;
}
.partner-description-container {
	background-color: var(--wave-lighter-blue);
	padding: 1.975rem;
	border-radius: 8px;
	margin-bottom: 25px;
}
.partner-description-container p {
	margin: 0px;
}
.usability-description-container {
	background-color: var(--wave-lighter-blue);
	padding: 1.975rem;
	border-radius: 8px;
	margin: 35px 0px -20px;
}
.usability-description-container p {
	margin: 0px;
}
.cookies-settings-row {
	margin-top: 30px;
	display: flex;
	align-items: center;
}
.cookies-settings-row h3 {
	margin-bottom: 4px;
	font-size: 1.2rem !important;
}
.cookies-settings-row p {
	margin: 0px;
	font-size: 0.9rem;
	line-height: 1.6;
}
.cookies-settings-row .flex-right {
	width: 250px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.cookies-settings-row .custom-checkbox {
	box-shadow: none;
	border: 2px solid var(--wave-medium-light-gray);
	background-color: var(--wave-lighter-blue);
	margin: 0px;
}
.cookies-settings-row .custom-checkbox:focus,
.cookies-settings-row .custom-checkbox:active,
.cookies-settings-row .custom-checkbox.active {
	background-image: url('../img/icons/checkmark-icon-grey.png');
	background-position: center;
	background-size: cover;
	border: 2px solid var(--wave-darker-blue);
	background-color: var(--wave-darker-blue);
}
.custom-checkbox.disabled {
	border: 2px solid var(--wave-medium-light-gray) !important;
	background-color: var(--wave-medium-light-gray) !important;
	cursor: default;
}
