/* MIT LICENSE */

/* IMPORTS */

@import url(colors.css);
@import url(media.css);

/* ELEMENTS */

body,
html {
	font-family: 'Montserrat', Verdana, Arial, Helvetica, sans-serif;
	background: white;
	overflow-x: hidden;
	margin: 0px;
}
h1,
h2,
h3,
h4,
h5,
h6,
a,
a:link,
a:visited,
button {
	font-family: 'Montserrat', Verdana, Arial, Helvetica, sans-serif;
	font-weight: 900;
	color: var(--app-darker-blue);
	line-height: 1.3;
}
p,
li,
tr,
th,
td {
	font-family: 'Montserrat', Verdana, Arial, Helvetica, sans-serif;
	font-weight: 400;
	line-height: 180%;
	color: var(--app-darker-blue);
}
input,
select,
textarea,
label {
	font-family: 'Montserrat', Verdana, Arial, Helvetica, sans-serif !important;
	font-weight: 700 !important;
	color: var(--app-darker-blue);
}
input {
	-webkit-appearance: none;
}
a,
button,
select {
	cursor: pointer;
}
a,
button {
	letter-spacing: 0.7px;
	text-transform: uppercase;
}
p > a {
	letter-spacing: normal;
}

/* GENERAL */

.animate {
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
}
.preload * {
	transition: none !important;
	-webkit-transition: none !important;
	-moz-transition: none !important;
	-ms-transition: none !important;
	-o-transition: none !important;
}
.left-align {
	text-align: left;
}
.center-align {
	text-align: center;
}
.right-align {
	text-align: right;
}
input:focus {
	outline: none;
	border: none;
}
button:focus {
	outline: none;
	text-transform: uppercase;
}
.hide-element {
	display: none;
}

/* CONTENT */

.light-blue-bg-section {
	background-color: var(--app-light-blue);
	position: relative;
}
.header {
	height: 80px;
	width: 100%;
	background-color: var(--app-lighter-blue);
	position: fixed;
	display: flex;
	align-items: center;
	z-index: 99;
}
.footer {
	height: 150px;
	width: 100%;
	background-color: var(--app-lighter-blue);
	display: flex;
	align-items: center;
}
.header-offset {
	margin-top: 80px;
}
.home-page {
	height: 600px;
}
.error-page {
	height: 600px;
}

/* COOKIE BAR CONTENT */

.cookie-bar {
	height: auto;
	background-color: var(--app-white);
	position: fixed;
	display: flex;
	justify-content: space-between;
	bottom: 0;
	width: 100%;
	z-index: 998;
	padding-top: 20px;
	padding-bottom: 20px;
	box-shadow: 0px -3px 20px rgba(0, 0, 0, 0.06);
}
.cookie-bar .text-container {
	display: flex;
	align-items: center;
}
.cookie-bar .text-container p {
	margin: 0px;
	font-size: 0.9rem;
	color: var(--app-grey-text);
	font-weight: 500;
}
.cookie-bar .text-container p a,
.cookie-bar .text-container p a:link,
.cookie-bar .text-container p a:visited {
	text-decoration: underline;
	color: inherit;
	text-transform: inherit;
	font-weight: inherit;
	font-family: inherit;
}
.cookie-bar .button-container {
	display: flex;
	align-items: center;
	margin: 0px 0px 0px 30px;
}
.cookie-bar button.cookie-button {
	font-size: 11px;
	white-space: nowrap;
	opacity: 1;
	text-transform: uppercase;
	font-weight: 500;
	padding: 14px 0px;
	color: var(--app-grey-text);
}
.cookie-bar button.cookie-button.solid {
	background-color: var(--app-dark-blue);
	color: var(--app-white);
	font-weight: 700;
	border-radius: 4px;
	padding: 14px 25px;
	margin-right: 25px;
	float: right;
}
.cookie-bar button.cookie-button:hover {
	opacity: 0.8;
}
.cookie-bar .small-screen-span {
	display: inline;
}
@media only screen and (max-width: 25em) {
	.cookie-bar .small-screen-span {
		display: none;
	}
}
@media only screen and (max-width: 45em) {
	.cookie-bar {
		display: block;
	}
	.cookie-bar .button-container {
		margin: 20px 0px 0px 0px;
	}
}

/* DOCUMENT CONTENT */

.document-content-body a,
.document-content-body a:link,
.document-content-body a:visited {
	font-family: 'Montserrat', Verdana, Arial, Helvetica, sans-serif;
	text-decoration: underline;
	text-transform: unset;
	font-size: unset;
	letter-spacing: unset;
	font-weight: 600;
	line-height: 180%;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
}
.document-content-body h2 {
	text-transform: unset;
	letter-spacing: unset;
	margin-bottom: 8px;
}
.document-content-body h3 {
	margin-bottom: 8px;
	letter-spacing: normal;
	text-transform: none;
}

/* LEGAL CONTENT */

@media only screen {
	.legal-content {
		padding-top: 20px;
		padding-bottom: 80px;
	}
	.legal-text-content {
		padding-top: 20px;
		padding-bottom: 50px;
	}
	.legal-title,
	.legal-text-title {
		padding-top: 40px;
		padding-bottom: 40px;
		text-align: left;
	}
	.legal-title h1,
	.legal-text-title h1 {
		font-size: 1.8rem;
		margin: 8px 0px;
	}
	.legal-text-title .logo-icon {
		margin-left: 0px !important;
	}
	table.settings-table {
		font-size: 0.775rem;
	}
	.settings-table td,
	.settings-table th,
	table.settings-table td,
	table.settings-table th {
		padding: 1.25rem;
	}
}
@media only screen and (min-width: 25.563em) {
	table.settings-table {
		font-size: 1em;
	}
	.settings-table td,
	.settings-table th,
	table.settings-table td,
	table.settings-table th {
		padding: 1.875rem;
	}
}
@media only screen and (min-width: 43.9375em) {
	.legal-content {
		padding-top: 50px;
		padding-bottom: 150px;
	}
	.legal-text-content {
		padding-top: 50px;
		padding-bottom: 80px;
	}
	.legal-title,
	.legal-text-title {
		padding-top: 70px;
		padding-bottom: 70px;
		text-align: center;
	}
	.legal-title h1,
	.legal-text-title h1 {
		font-size: 3rem;
		margin: 8px 0px;
	}
	.legal-text-title .logo-icon {
		margin-left: auto !important;
	}
}
.legal-content {
	background-color: var(--app-lighter-blue);
	border-top: 1px solid var(--app-border-grey);
}
.legal-text-content {
	background-color: var(--app-white);
	border-top: 1px solid var(--app-border-grey);
}
.legal-title {
	background-color: var(--app-white);
}
.legal-text-title {
	background-color: var(--app-lighter-blue);
}
table.settings-table {
	border-collapse: collapse;
	border-spacing: 0;
	display: table;
	box-sizing: border-box;
	margin-top: 1.875rem;
	color: var(--app-darker-blue);
}
.settings-table thead {
	background-color: var(--app-lighter-blue);
	display: table-header-group;
	vertical-align: middle;
	border-color: inherit;
	color: var(--app-darker-blue);
}
.settings-table tbody,
.settings-table tbody tr {
	background-color: var(--app-white) !important;
	color: var(--app-darker-blue);
}
.settings-table tr:first-child,
table.settings-table tr:first-child {
	border-top: 0.0625em solid var(--app-table-border);
}
.settings-table tr,
table.settings-table tr {
	border-bottom: 0.0625em solid var(--app-table-border) !important;
}
.settings-table tr {
	display: table-row;
	vertical-align: inherit;
	border-color: inherit;
	color: var(--app-darker-blue);
}
.settings-table td:first-child,
.settings-table th:first-child,
table.settings-table td:first-child,
table.settings-table th:first-child {
	border-left: 0.0625em solid var(--app-table-border);
}
.settings-table td,
.settings-table th,
table.settings-table td,
table.settings-table th {
	border-right: 0.0625em solid var(--app-table-border);
	color: var(--app-darker-blue);
}
.settings-table td:nth-child(2) {
	white-space: nowrap;
}
.settings-table th,
table.settings-table th {
	text-align: center;
	font-weight: 700;
	color: var(--app-darker-blue);
}
.settings-table tbody {
	display: table-row-group;
	vertical-align: middle;
	border-color: inherit;
	color: var(--app-darker-blue);
}
.cookie-settings-container {
	margin-top: 50px;
	border-radius: 8px;
	background-color: var(--app-lighter-blue);
	padding: 1.975rem;
}
.cookie-settings-container h2 {
	padding-bottom: 5px;
}
.cookies-settings-row {
	margin-top: 30px;
	display: flex;
	align-items: center;
}
.cookies-settings-row h3 {
	margin-bottom: 4px;
	font-size: 1.2rem !important;
}
.cookies-settings-row p {
	margin: 0px;
	font-size: 0.9rem;
	line-height: 1.6;
}
.cookies-settings-row .flex-right {
	width: 250px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.cookies-settings-row .custom-checkbox {
	width: 27px;
	height: 27px;
	background-color: transparent;
	border-radius: 4px;
	outline: 0;
	border: solid 2px var(--app-dark-blue);
	display: inline-block;
	margin-right: 17px;
	cursor: pointer;
	box-shadow: none;
}
.cookies-settings-row .custom-checkbox:focus,
.cookies-settings-row .custom-checkbox:active,
.cookies-settings-row .custom-checkbox.active {
	outline: 0;
	border: solid 2px var(--app-dark-blue);
	background-image: url('../img/checkmark-icon.png');
	background-position: center;
	background-size: cover;
	background-color: var(--app-dark-blue);
	background-color: var(--app-darker-blue);
}
.custom-checkbox.disabled {
	border: 2px solid var(--app-medium-light-gray) !important;
	background-color: var(--app-medium-light-gray) !important;
	cursor: default;
}
